<div class="product-form__buttons">
    {%- liquid
        assign check_against_inventory = true
        if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
            assign check_against_inventory = false
        endif
        if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
            assign quantity_rule_soldout = true
        endif
    -%}
    <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
            %}
                disabled
            {% endif %}
    >
            <span>
              {%- if product.selected_or_first_available_variant == null -%}
                  {{ 'products.product.unavailable' | t }}
              {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                  {{ 'products.product.sold_out' | t }}
              {%- else -%}
                  {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
        {%- render 'loading-spinner' -%}
    </button>
    {%- if show_dynamic_checkout -%}
        <button
                id="yuuniq-checkout"
                class="button button--full-width {% if show_dynamic_checkout %}button--primary{% else %}button--secondary{% endif %}"
                {% if product.selected_or_first_available_variant.available == false
                or quantity_rule_soldout
                or product.selected_or_first_available_variant == null
                %}
                    disabled
                {% endif %}
        >
              <span>
                {%- if product.selected_or_first_available_variant == null -%}
                    {{ 'products.product.unavailable' | t }}
                {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                    {{ 'products.product.sold_out' | t }}
                {%- else -%}
                    <input type="hidden" name="sku" value="{{ product.selected_or_first_available_variant.sku }}">
                    Zur Terminbuchung
                {%- endif -%}
              </span>
            {%- render 'loading-spinner' -%}
        </button>
    {%- endif -%}
</div>